// Define constants for card sizes
$card-width: 120px;
$card-height: 180px;
$card-width-mobile: 90px;
$card-height-mobile: 120px;

$small-card-width: 40px;
$small-card-height: 60px;
$small-card-width-mobile: 30px;
$small-card-height-mobile: 45px;

// Define constants for word colors
$card-word-color: #2c3e50;
$card-hint-color: rgb(63, 62, 62);
$card-category-color: #7f8c8d;

.card {
  width: $card-width;
  height: $card-height;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    width: $card-width-mobile;
    height: $card-height-mobile;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &.face-down {
    background: linear-gradient(45deg, #2980b9, #3498db);
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      background: repeating-linear-gradient(45deg,
          rgba(255, 255, 255, 0.1) 0,
          rgba(255, 255, 255, 0.1) 10px,
          transparent 10px,
          transparent 20px);
      transform: rotate(45deg);
    }
  }

  &.small {
    width: $small-card-width;
    height: $small-card-height;
    margin: 0 -10px;

    @media (max-width: 768px) {
      width: $small-card-width-mobile;
      height: $small-card-height-mobile;
      margin: 0 -5px;
    }

    .card-content {
      display: none;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    justify-content: space-between;
  }

  .card-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: auto;
  }

  .card-type {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $card-category-color;
  }

  .card-word,
  .card-hint,
  .card-category {
    white-space: pre-wrap;
  }

  .card-word {
    font-size: 1.2rem;
    font-weight: bold;
    color: $card-word-color;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  .card-hint {
    font-size: 0.9rem;
    color: $card-hint-color;
    font-style: italic;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
      font-size: 0.7rem;
      font-size: 0.9rem;
    }
  }

  .card-category {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-top: auto;

    @media (max-width: 768px) {
      font-size: 0.6rem;
    }
  }

  &.infinitive,
  &.past,
  &.participle {
    border-top: none;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

.skip-card {
  &:hover {
    transform: translateY(-5px);
  }

  color: white;
  cursor: pointer;
  background: #e74c3c;

  &:hover {
    background: #c0392b;
  }
}