$gap-player-cards: 1rem;
$gap-player-cards-mobile: 0.15rem;
$gap-cards-container: 10px;
$card-offset: -20px; // Negative offset between cards
$card-offset-mobile: -15px;

.open-hand {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  gap: 10px;
  max-width: 100%;
  
  // // Set position to fixed to keep it visible
  // position: fixed; // Change to fixed
  // bottom: 0; // Align to the bottom of the viewport
  // left: 0; // Align to the left of the viewport
  // right: 0; // Align to the right of the viewport
  // z-index: 1000; // Ensure it appears above other elements

  // Adjust padding to better show cards
  padding-top: 20px;
  padding-bottom: 20px; // Adjust as needed

  // &::-webkit-scrollbar {
  //   display: none;
  // }
  // -ms-overflow-style: none;
  // scrollbar-width: none;

  .player-cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;

    @media (max-width: 768px) {
      margin-top: 0.5rem;
      flex-wrap: nowrap;
    }

    .card-wrapper {
      transform-origin: center 100%;
      transition: transform 0.3s ease;
      margin-left: $card-offset; // Add negative margin

      &:first-child {
        margin-left: 0; // Remove margin for first card
      }

      @media (max-width: 768px) {
        margin-left: $card-offset-mobile;
      }

      // &:hover {
      //   transform: translateY(-20px) rotate(0deg) !important;
      //   z-index: 1;
      // }
    }

    // Special handling for skip card
    .skip-card {
      margin-left: $card-offset;

      @media (max-width: 768px) {
        margin-left: $card-offset-mobile;
      }
    }
  }

  // .skip-button {
  //   padding: 1rem 2rem;
  //   background: #e74c3c;
  //   color: white;
  //   border: none;
  //   border-radius: 5px;
  //   cursor: pointer;
    
  //   @media (max-width: 768px) {
  //     padding: 0.75rem 1.5rem;
  //     font-size: 0.9rem;
  //   }
    
  //   &:hover {
  //     background: #c0392b;
  //   }
  // }

  &.active {
    animation: pulse 2s infinite;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    border-radius: 8px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
}

.cards-container {
  display: flex;
  gap: $gap-cards-container;
  min-width: min-content;
}

.card-wrapper.selected {
  transform: translateY(-20px) rotate(0deg) !important;
  z-index: 1;
} 

.card-wrapper.selected {
  // transform-origin: bottom center;
  // transform: translateY(-20px) !important;
  // transition: transform 0.2s ease-out;

  // transform: translateY(-20px) rotate(0deg) !important;
  // z-index: 1;

} 