.open-hand {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  gap: 10px;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .player-cards {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: nowrap;

    @media (max-width: 768px) {
      gap: 0.5rem;
      margin-top: 0.5rem;
      flex-wrap: nowrap;
    }
  }

  // .skip-button {
  //   padding: 1rem 2rem;
  //   background: #e74c3c;
  //   color: white;
  //   border: none;
  //   border-radius: 5px;
  //   cursor: pointer;
    
  //   @media (max-width: 768px) {
  //     padding: 0.75rem 1.5rem;
  //     font-size: 0.9rem;
  //   }
    
  //   &:hover {
  //     background: #c0392b;
  //   }
  // }
}

.cards-container {
  display: flex;
  gap: 10px;
  min-width: min-content;
} 